/* Your styles should be mobile-first and responsive */

/** 
  * If you are unclear on how to utilize a mobile-first, responsive technique to write your CSS, here is an example: 
  *
  * https://github.com/andreacardybailey/responsive_example/blob/master/styles/responsive-base.css 
  *
*/

@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;400&family=Roboto:wght@300;400;500&display=swap');


main {
    font-family: 'Roboto', sans-serif;
    font-size: 1rem;
    font-weight: 300;
    background-color: #232323;
    color: white;
    text-shadow: 1px 1px 2px black;
    margin:0;
    height: 100vh;
    width: 100%;
}


.container {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100vh;
    width: 100%;
}

.start, .end {
    background: url("/images/2001.jpg") center center / cover no-repeat;
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100vh;
    width:100%
}

h1, h2, h3 {
    font-family: 'Nunito', sans-serif;
    font-weight: 400;
    color:#8AADCC;
    margin: 0;
}

h1 {
    font-size: 1.5rem;
}

.group {
    display: flex;
    flex-direction: column;
    max-width: 400px;
    padding: 10px;
}

.header {    
  display: flex;
  flex-direction: row;
  align-items: baseline;
  justify-content: space-between;
}

.score-count, .question-count {
  margin-bottom: 20px;
}

.item {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: left;
}

button {
    border-radius: 0px;
    border: 0px;
    background-color: #EEA883;
    width: 100px;
    padding:10px 15px;
    margin: 50px 0 0 0;
}

.button-center {
    text-align: center;
}

button:hover {
    background-color: #C08465;
    cursor: pointer;
  }

form {
    display: flex;
    flex-direction: column;
    padding:20px;
    text-align: left;
}

input[type=radio] { 
    margin:10px; 
}