/* Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;400&family=Roboto:wght@300;400;500&display=swap');

/* Main & Container Styles */
main {
    font-family: 'Roboto', sans-serif;
    font-size: 1rem;
    font-weight: 300;
    background-color: #232323;
    color: white;
    text-shadow: 1px 1px 2px black;
    margin:0;
    height: 100vh;
    width: 100%;
}


.container {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100vh;
    width: 100%;
}

/* Start & End Page Styles */
.start, .end {
    background: url("https://thinkful-ei-panda.github.io/quiz-app-matt-josh/images/2001.jpg") center center / cover no-repeat;
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100vh;
    width:100%
}

/* Header Font Styles */
h1, h2, h3 {
    font-family: 'Nunito', sans-serif;
    font-weight: 400;
    color:#8AADCC;
    margin: 0;
}

h1 {
    font-size: 1.5rem;
}

/* Flex Group & Item Styles */
.group {
    display: flex;
    flex-direction: column;
    max-width: 400px;
    padding: 10px;
}

.header {    
  display: flex;
  flex-direction: row;
  align-items: baseline;
  justify-content: space-between;
}

.score-count, .question-count {
  margin-bottom: 20px;
}

.item {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: left;
}

/* Form & Button Styles */
form {
    display: flex;
    flex-direction: column;
    padding:20px;
    text-align: left;
}

input[type=radio] { 
    margin:10px; 
}

.btn {
    font-size: .9rem;
    
    position: relative;
  
    display: block;
    margin: 30px auto;
  
    overflow: hidden;
  
    border-width: 0;
    outline: none;
    border-radius: 2px;
    box-shadow: 0 1px 4px rgba(0, 0, 0, .6);
    
    background-color: #EEA883;
    color: #232323;
    
    transition: background-color .3s;
  }
  
  .btn:hover, .btn:focus {
    background-color: #C08465;
  }
  
  .btn > * {
    position: relative;
  }
  
  .btn span {
    display: block;
    padding: 12px 24px;
  }
  
 .btn:before {
    content: "";
    
    position: absolute;
    top: 50%;
    left: 50%;
    
    display: block;
    width: 0;
    padding: 0;
      
    border-radius: 100%;
    
    background-color: rgba(236, 240, 241, .3);
    
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
  }
  
 .btn:active:before {
    width: 120%;
    padding-top: 120%;
    
    transition: width .2s ease-out, padding-top .2s ease-out;
  }

[type=button], [type=reset], [type=submit], button {
    -webkit-appearance: button;
    padding: 10px 30px;
}

