@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap');

body, html {
    font-family: 'Roboto', sans-serif;
    font-size: 1rem;
    font-weight: 300;
    background-color: #232323;
    color: white;
    text-shadow: 1px 1px 2px black;
    margin:0;
    height: 100vh;
    width:100%;
}

.container {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100vh;
    width: 100%;
    
}

.start {
    background: url("/img/2001.jpg") center center / cover no-repeat;
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100vh;
    width: 100%;
}

h1, h2, h3 {
    font-family: 'Futura', sans-serif;
    font-weight:100;
    color:#8AADCC;
    margin: 0;
}

h1 {
    font-size: 1.5rem;
}

.group {
    display: flex;
    flex-direction: column;
}

.header {
    display: flex;
    flex-direction: row;
    align-items: baseline;
    justify-content: space-between;
}

.item {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: left;
}

button {
    border-radius: 0px;
    border: 0px;
    background-color: #EEA883;
    width: 100px;
    padding:10px 15px;
    margin: 50px 0 0 0;
}

.button-center {
    text-align: center;
}

button:hover {
    background-color: #C08465;
    cursor: pointer;
  }

form {
    display: flex;
    flex-direction: column;
    padding:20px;
    text-align: left;
}